{% extends 'base.html.twig' %}

{% block page %}

{% include "_barreNotes.html.twig" %}

<form method="POST" action="check">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous pour jouer sur votre compte :</h1>
      </div>

      <div class="col-12">
        <br>
      </div>
      <div class="col-2">
      </div>
      <div class="col-2">
        <label for="inputUsername">Nom d'utilisateur :</label>
      </div>
      <div class="col-4">
        <input type="text" name="inputUsername" class="form-control" placeholder="Username" required autofocus>
      </div>
      <div class="col-4">
      </div>

      <div class="col-12">
        <br>
      </div>
      <div class="col-2">
      </div>
      <div class="col-2">
        <label for="inputPassword">Mot de passe :</label>
      </div>
      <div class="col-4">
        <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
      </div>
      <div class="col-4">
      </div>

      <div class="col-5">
      </div>
      <div class="col-2">
        <br>
        <button class="btn btn-lg btn-primary" type="submit">
          Connexion
        </button>
      </div>
      <div class="col-6">
      </div>
      <div class="col-12">
        {% if msgErreur is defined %}
          {% if msgErreur|length > 0 %}
        <span class="form-error-icon badge badge-danger text-uppercase">Erreur</span> {{msgErreur}}
          {% endif %}
        {% endif %}
        <br>
      </div>

    </div>
  </div>
</form>

<div class="container-fluid">
  <div class="row">
    <div class="col-7">
    </div>
    <div class="col-3" style='text-align : right;'>
      Vous n'avez pas encore de compte ?
    </div>
    <div class="col-2" style='text-align : center;'>
            <form action="/lognew">
              <button class="btn btn-lg btn-primary" type="submit">
                Créez un utilisateur
              </button>
            </form>
            ou
            <form action="main">
              <button class="btn btn-lg btn-primary" type="submit">
                Lancez la démo
              </button>
            </form>
    </div>
  </div>
</div>

{% include "_barreNotes.html.twig" %}

{% endblock %}
