.griser { color : #AAA; }
dl { width: 100vw; }
dt
{
  font-size : 1.1em;
  float: left;
  width: 20vw;
  overflow: hidden;
  white-space: nowrap;
}
dd
{
  font-size : 1.1em;
  float: left;
  width: 50vw;
  overflow: hidden;
}
dt:after { content: " .................................................................................."; }
b { font-size : 1.1em; }