b { font-size : 120%; }
.ecrirePetit { font-size : 0.7rem; }
.imgSymbole
{
  height : 3em;
  padding : 0.5em;
}
.cadreNoir { padding-right : 1rem; }
.cadreConseil
{
  border : 2px dashed green;
  background : rgba(0,255,0,0.5);
  padding-right : 0.5rem;
  width : 100%;
}
h1.conseil
{
  color : green;
  font-size : 8rem;
}
.indentation
{
  margin-left : 1.5rem;
}
/* Pour dessiner un tableau */
table.tableau { border-collapse : collapse; }
td.tableau
{
  border : 1px solid black; 
  text-align : center;
}
.fonteInvisible { color : transparent; min-height : 25vh; }
/* Pour que les liens (les ancres surtout) se voient bien. */
.enGras
{
  font-weight: bold;
  font-size : 1.5rem;
}
.enGras:hover
{
  font-weight: bold;
  font-size : 2rem;
  color : gold;
}