/* Pour s'adapter à des écrans plus petits */
html
{
  font-size : 1vw;
  orientation : portrait;
}
@media (max-width: 768px) {
  html{font-size: 3vw;}
}
@media (max-width: 992px) {
  html{font-size: 2vw;}
}
@media (max-width: 1200px) {
  html{font-size: 1.9vw;}
}
@media (max-width: 1600px) {
  html{font-size: 1.3vw;}
}
/* Pour le debug uniquement : */
.rouge {background:red;}
.debug
{
  position : absolute;
  top : 50vh;
  left : 1em;
  background : white;
}
body
{
  overflow-x : hidden;
  overflow-y : hidden;
}
.listeDeroulante
{
  display : block;
  height : 80vh;
  overflow-x : hidden;
  overflow-y : auto;
}
.fondCouvrant { background-size : cover; }
.fondEntier
{
  background-size : contain;
  background-repeat : no-repeat;
}
.cadreRouge
{
  border : 2px solid red;
  border-radius : 1em;
}
.cadreRouge:hover
{
  border : 5px solid orange;
}
img.fond
{
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
  z-index : -100;
}
h1
{
  color : white;
  text-shadow : 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black, 2px 0px 1px black, -2px 0px 1px black, 0px 2px 1px black, 0px -2px 1px black;
  text-align : center;
  width : 100%;
  font-size : 5em;
}
.positionRelative { position : relative; }
.positionAbsolue  { position : absolute; }
a:hover
{
  text-decoration : none;
}
.clavierAdroite
{
  float : right;
  margin-left : 1em;
  position : relative;
}
.clavierAgauche
{
  float : left;
  margin-right : 1em;
  position : relative;
}