.incline
{
  position : absolute;
  top : 2.1em;
  left : 1.2em;
  transform: rotate(-32deg);
}
.plusBas { top : 2em; }
.boutonDrapeau
{
  width : 25vw;
  height: 14vw;
}
.boutonInstruments
{
  width : 30vw;
  height: auto;
}
.largeur17vw
{
  width : 17vw;
  height: auto;
}
.boutonRythme
{
  top  : 32vh;
  left : 4vw;
}
h1.boutonLexique
{
  position : absolute;
  right : 5px;
  bottom : 8px;
  text-align : center;
  font-size : 1.6rem;
}
h1.boutonRevisions
{
  text-shadow : 1px 0px 21px black, -1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black, 2px 0px 2px black, -2px 0px 2px black, 0px 2px 2px black, 0px -2px 2px black;
  position : absolute;
  left : 8px;
  top : 4px;
  font-size : 1.8rem;
  opacity : 1;
}
h1.boutonScores
{
  position : absolute;
  width : 100%;
  bottom : 4px;
  text-align : center;
  font-size : 1.6rem;
}
.boutonDrapeau:hover .enVert  { color : green; }
.boutonDrapeau:hover .enRouge { color : red; }