.incline
{
  position : absolute;
  top : 1.8em;
  left : 0.2em;
  transform: rotate(-32deg);
}
.plusBas { top : 2em; }
.boutonDrapeau
{
  width : 25vw;
  height: 14vw;
}
.boutonInstruments
{
  width : 30vw;
  height: auto;
}
.boutonTonalites
{
  width : 17vw;
  height: auto;
}
.boutonRythme
{
  top  : 32vh;
  left : 4vw;
}
.boutonScores
{
  position : absolute;
  top  : 14vh;
  left : 1.5vw;
  width : 18vw;
  height: auto;
}
h1.boutonScores
{
  top  : 29vh;
  left : 5vw;
  width : 10vw;
  font-size : 2em;
}
.boutonDrapeau:hover .enVert  { color : green; }
.boutonDrapeau:hover .enRouge { color : red; }