    <div class="col-12"><h2>{{app.session.get('correction')}}</h2></div>
      {% if app.session.get('numQuestion') < 6  %}
      <div class="col-3 cadreReponse">
        <a href="{{app.session.get('exercice')}}">Question suivante</a>
      </div>
      {% else %}
      <div class="col-12">
        <h2>Ton score est de {{app.session.get('nbBonnesRep')}}/6.&nbsp;
        {% if app.session.get('nbBonnesRep') >= 6 %}
        Tu passes au niveau {{app.session.get('niveau')+1}}. Félicitations !
        {% endif %}
        </h2>
      </div>
      <div class="col-3 cadreReponse">
        <a href="main">Revenir à la page principale</a>
      </div>
      {% endif %}