{% extends "apprendre.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}apprendre.css">
  
  <style>
    .enumNiv1
    {
      font-size : 2em;
      text-decoration : underline;
    }
    .enumNiv2
    {
      font-size : 1.5em;
      text-decoration : underline;
      padding-left : 1em;
    }
    .enumNiv3
    {
      font-size : 1.1em;
      padding-left : 2.5em;
    }
  </style>
{% endblock %}


{% block titre %}Les instruments{% endblock %}

{% block corps %}
  {{ parent() }}

<div class="container">
  <div class="row">
    <div class="col-12">
    <div class="listeDeroulante">
      <div class="cadreNoir">
        <h2 class="souligne">Les familles d'instruments</h2>
        Les orchestres symphoniques et philharmoniques se composent de trois familles d'instruments : les cordes, les vents et les percussions.<br>
        Les instruments à vent sont répartis en 2 catégories : les bois et les cuivres, ceci en raison du matériau dans lequel ils étaient fabriqués à l'origine, même si ce n'est plus le cas aujourd'hui.<br>
        Voici la liste des familles et sous familles d'instruments, et quelques exemples d'instruments appartenant à ces catégories :<br>
        <table>
            <tr><td class="enumNiv1">Les instruments à cordes :</td></tr>
              <tr><td class="enumNiv2">Les cordes frottées :</td></tr>
                <tr><td class="enumNiv3">le violon</td></tr>
                <tr><td class="enumNiv3">le violoncelle</td></tr>
                <tr><td class="enumNiv3">l'alto</td></tr>
                <tr><td class="enumNiv3">la contrebasse</td></tr>
              <tr><td class="enumNiv2">Les cordes pincées ou grattées :</td></tr>
                <tr><td class="enumNiv3">la guitare</td></tr>
                <tr><td class="enumNiv3">la harpe</td></tr>
                <tr><td class="enumNiv3">le clavecin (le son est produit par des sautereaux qui pincent les cordes)</td></tr>
                <tr><td class="enumNiv3">l'épinette (même principe de fonctionnement que le clavecin)</td></tr>
                <tr><td class="enumNiv3">le luth</td></tr>
              <tr><td class="enumNiv2">Les cordes frappées :</td></tr>
                <tr><td class="enumNiv3">le clavicorde</td></tr>
                <tr><td class="enumNiv3">le piano (les touches actionnent de petits marteaux qui frappent les cordes)</td></tr>
                <tr><td class="enumNiv3">le piano-forte</td></tr>
                <tr><td class="enumNiv3">le pianola (instrument mécanique à rouleau de musique perforé)</td></tr>
            <tr><td class="enumNiv1">Les instruments à vent :</td></tr>
              <tr><td class="enumNiv2">Les bois </td></tr>
                <tr><td class="enumNiv3">la flûte (flûte à bec, flûte traversière, piccolo, flûte alto en sol, ...)</td></tr>
                <tr><td class="enumNiv3">la clarinette</td></tr>
                <tr><td class="enumNiv3">le saxophone (soprano, alto, ténor, baryton), constitué de cuivre, mais utilisé avec une anche en bois</td></tr>
                <tr><td class="enumNiv3">le hautbois (instrument à anche double)</td></tr>
                <tr><td class="enumNiv3">le cor anglais (similaire au hautbois, mais de sonorité plus douce)</td></tr>
                <tr><td class="enumNiv3">le basson (instrument à anche double)</td></tr>
                <tr><td class="enumNiv3">le contrebasson (deux fois plus grave que le basson)</td></tr>
              <tr><td class="enumNiv2">Les cuivres :</td></tr>
                <tr><td class="enumNiv3">le trombone</td></tr>
                <tr><td class="enumNiv3">le tuba (euphorium, saxhorn, hélicon, soubassophone, ...)</td></tr>
                <tr><td class="enumNiv3">le cor</td></tr>
                <tr><td class="enumNiv3">la trompette</td></tr>
            <tr><td class="enumNiv1">Les percussions :</td></tr>
              <tr><td class="enumNiv2">Instruments à son déterminé (c'est à dire qui jouent des notes précises) :</td></tr>
                <tr><td class="enumNiv3">les timbales (la note jouée dépend de la tension de la peau)</td></tr>
                <tr><td class="enumNiv3">le glockenspiel (clavier métallique)</td></tr>
                <tr><td class="enumNiv3">les cloches tubulaires (ou tubular bells ; ce sont des cloches suspendues à un portique)</td></tr>
                <tr><td class="enumNiv3">le xylophone</td></tr>
                <tr><td class="enumNiv3">le marimba</td></tr>
                <tr><td class="enumNiv3">le vibraphone</td></tr>
              <tr><td class="enumNiv2">Instruments à son indéterminé :</td></tr>
                <tr><td class="enumNiv3">les tambours en peau (tambour militaire, caisse claire, grosse caisse, bongos, tambourin, ...)</td></tr>
                <tr><td class="enumNiv3">le triangle</td></tr>
                <tr><td class="enumNiv3">la cymbale</td></tr>
                <tr><td class="enumNiv3">le gong</td></tr>
                <tr><td class="enumNiv3">les maracas</td></tr>
                <tr><td class="enumNiv3">les castagnettes</td></tr>
                <tr><td class="enumNiv3">les claves</td></tr>
                <tr><td class="enumNiv3">la batterie (puisque c'est un ensemble de percussions)</td></tr>
            <tr><td class="enumNiv1">Autres instruments :</td></tr>
                <tr><td class="enumNiv3">l'accordéon (instrument portatif muni d'un clavier et d'un soufflet mettant des anches en vibration)</td></tr>
                <tr><td class="enumNiv3">la cornemuse (instrument à vent constitué de plusieurs tuyaux à anches fixés à une peau ou à un sac enfermant un réservoir d'air)</td></tr>
                <tr><td class="enumNiv3">l'harmonica (instrument à vent et à anches libres métalliques)</td></tr>
                <tr><td class="enumNiv3">l'orgue (instrument constitué de plusieurs claviers superposés et d'un clavier à pédales ; le son provient de l'air qui passe à travers des tuyaux de longueur et de largeur différentes)</td></tr>
                <tr><td class="enumNiv3">les instruments électriques ou électroniques (piano électrique, synthétiseur, ondes Martenot, ...)</td></tr>
        </table>
        <br>
      </div>
      <div class="cadreNoir">
        <h2 class="souligne">Les sons des principaux instruments</h2>
        Pour reconnaître un instrument, il faut imaginer comment le morceau a pu être joué. Par exemple :
        <p>
          <li>un instrument à vent démarre assez doucement, car le souffle n'est pas immédiatement à son maximum.</li>
          <li>le souffle du musicien peut généralement s'entendre assez nettement, surtout avec la flûte de pan, par exemple.</li>
          <li>le trombone est reconnaissable grâce au son progressif qu'il produit entre deux notes, vu qu'elles ne sont pas produites par des touches, mais par la position de la coulisse.</li>
          <li>un hautbois est un peu plus strident qu'une clarinette, un piccolo est plus aigu qu'une flûte traversière.</li>
          <li>le son des cordes pincées est court et subit, il résonne très peu.</li>
          <li>une corde frottée avec un archet produit un son dont le volume reste constant, mais la sonorité vacille légèrement. On ne peut pas produire un son aussi long et fort en soufflant.</li>
          <li>les instruments métalliques (cloches, vibraphone, glockenspiel, ...) résonnent longtemps.</li>
          <li>les touches des claviers (piano, clavecin, accordéon, ...) produisent un son plus soudain que celles des instruments à vent. </li>
          <li>les cordes frottées (guitare, harpe, ...) produisent plusieurs notes presque en même temps. On ne peut le faire avec aucun autre type d'instrument.</li>
        </p>
        Ecoute ces instruments et essaie de repérer leurs particularités.
        <div class="container-fluid">
          <div class="row">
            {% include '_instrument.html.twig' with {'image':'violon.jpg', 'son':'violon.mp3','legende':"le violon"} %}
            {% include '_instrument.html.twig' with {'image':'violon-alto.jpg', 'son':'alto.mp3','legende':"l'alto"} %}
            {% include '_instrument.html.twig' with {'image':'guitare.jpg', 'son':'guitare.mp3','legende':"la guitare"} %}
            {% include '_instrument.html.twig' with {'image':'contrebasse.jpg', 'son':'contrebasse.mp3','legende':"la contrebasse"} %}
            {% include '_instrument.html.twig' with {'image':'violoncelle.jpg', 'son':'violoncelle.mp3','legende':"le violoncelle"} %}
            {% include '_instrument.html.twig' with {'image':'harpe.jpg', 'son':'harpe.mp3','legende':"la harpe"} %}
            {% include '_instrument.html.twig' with {'image':'piano.jpg', 'son':'piano.mp3','legende':"le piano"} %}
            {% include '_instrument.html.twig' with {'image':'clavecin.jpg', 'son':'clavecin.mp3','legende':"le clavecin"} %}
            {% include '_instrument.html.twig' with {'image':'epinette.jpg', 'son':'epinette.mp3','legende':"l'epinette"} %}
            {% include '_instrument.html.twig' with {'image':'flutes-a-bec.jpg', 'son':'flute-a-bec.mp3','legende':"la flûte à bec"} %}
            {% include '_instrument.html.twig' with {'image':'flute-piccolo.jpg', 'son':'flute-piccolo.mp3','legende':"le piccolo"} %}

            {# Les 2 images qui suivent seront disposées en colonne : elles sont petites, et la seconde n'a pas d'audio. #}
            {% set listeInstruments = [
              {
                'image'  : 'flute-de-pan.jpg',
                'son'    : 'flute-de-pan.mp3',
                'legende': "la flûte de pan"
              },
              {
                'image'  : 'flute-alto-en-sol.jpg',
                'son'    : '',
                'legende': "la flûte alto"
              }
            ] %}

            {% include '_colonne_d_instruments.html.twig' with {'listeInstruments': listeInstruments} only %}

            {% include '_instrument.html.twig' with {'image':'hautbois.jpg', 'son':'hautbois.mp3','legende':"le hautbois"} %}
            {% include '_instrument.html.twig' with {'image':'famille-des-clarinettes.jpg', 'son':'clarinette.mp3','legende':"la clarinette"} %}
            {% include '_instrument.html.twig' with {'image':'flute-traversiere.jpg', 'son':'flute-traversiere.mp3','legende':"la flûte-traversiere"} %}
            {% include '_instrument.html.twig' with {'image':'basson.jpg', 'son':'basson.mp3','legende':"le basson"} %}
            {% include '_instrument.html.twig' with {'image':'contrebasson.jpg', 'son':'contrebasson.mp3','legende':"le contrebasson"} %}
            {% include '_instrument.html.twig' with {'image':'cor-anglais.jpg', 'son':'cor-anglais.mp3','legende':"le cor anglais"} %}
            {% include '_instrument.html.twig' with {'image':'triangle.jpg', 'son':'triangle.mp3','legende':"le triangle"} %}
            {% include '_instrument.html.twig' with {'image':'maracas.jpg', 'son':'maracas.wav','legende':"les maracas"} %}
            {% include '_instrument.html.twig' with {'image':'castagnettes.jpg', 'son':'castagnettes.mp3','legende':"les castagnettes"} %}
            {% include '_instrument.html.twig' with {'image':'saxophone.png', 'son':'saxophone.mp3','legende':"le saxophone"} %}
            {% include '_instrument.html.twig' with {'image':'trompette.jpg', 'son':'trompette.mp3','legende':"la trompette"} %}
            {% include '_instrument.html.twig' with {'image':'accordeon.jpg', 'son':'accordeon.mp3','legende':"l'accordeon"} %}
            {% include '_instrument.html.twig' with {'image':'orgue.jpg', 'son':'orgue.mp3','legende':"l'orgue"} %}
            {% include '_instrument.html.twig' with {'image':'piano-forte.jpg', 'son':'piano_forte.mp3','legende':"le piano-forte"} %}
            {% include '_instrument.html.twig' with {'image':'pianola.jpg', 'son':'','legende':"le pianola"} %}
            {% include '_instrument.html.twig' with {'image':'trombone.jpg', 'son':'trombone.mp3','legende':"le trombone"} %}
            {% include '_instrument.html.twig' with {'image':'tuba.jpg', 'son':'tuba.mp3','legende':"le tuba"} %}
            {% include '_instrument.html.twig' with {'image':'euphonium.jpg', 'son':'','legende':"l'euphonium"} %}
            {% include '_instrument.html.twig' with {'image':'xylophone.jpg', 'son':'xylophone.mp3','legende':"le xylophone"} %}
            {% include '_instrument.html.twig' with {'image':'marimba.jpg', 'son':'marimba.mp3','legende':"le marimba"} %}
            {% include '_instrument.html.twig' with {'image':'vibraphone.jpg', 'son':'vibraphone.mp3','legende':"le vibraphone"} %}
            {% include '_instrument.html.twig' with {'image':'caisse-claire.jpg', 'son':'','legende':"la caisse claire"} %}

            {% set listeInstruments = [
              {
                'image'  : 'toms.jpg',
                'son'    : '',
                'legende': "les toms"
              },
              {
                'image'  : 'grosse-caisse.jpg',
                'son'    : '',
                'legende': "la grosse caisse"
              }
            ] %}

            {% include '_colonne_d_instruments.html.twig' with {'listeInstruments': listeInstruments} only %}


            {% set listeInstruments = [
              {
                'image'  : 'cymbales.jpg',
                'son'    : '',
                'legende': "les cymbales"
              },
              {
                'image'  : 'batterie.jpg',
                'son'    : '',
                'legende': "la batterie"
              }
            ] %}

            {% include '_colonne_d_instruments.html.twig' with {'listeInstruments': listeInstruments} only %}

            {% set listeInstruments = [
              {
                'image'  : 'glockenspiel.jpg',
                'son'    : 'glockenspiel.mp3',
                'legende': "le glockenspiel"
              },
              {
                'image'  : 'timbales.jpg',
                'son'    : 'timbales.mp3',
                'legende': "les timbales"
              }
            ] %}

            {% include '_colonne_d_instruments.html.twig' with {'listeInstruments': listeInstruments} only %}

            {% include '_instrument.html.twig' with {'image':'claves.jpg', 'son':'claves.mp3','legende':"les claves"} %}
            {% include '_instrument.html.twig' with {'image':'gong.jpg', 'son':'gong.mp3','legende':"le gong"} %}
            {% include '_instrument.html.twig' with {'image':'tubular_bells.png', 'son':'tubular_bells.mp3','legende':"les cloches tubulaires"} %}
            {% include '_instrument.html.twig' with {'image':'luth.jpg', 'son':'luth.mp3','legende':"le luth"} %}
            {% include '_instrument.html.twig' with {'image':'cornemuse.jpg', 'son':'cornemuse.mp3','legende':"la cornemuse"} %}

            {% set listeInstruments = [
              {
                'image'  : 'chimes.jpg',
                'son'    : 'chimes.mp3',
                'legende': "le chimes"
              },
              {
                'image'  : 'harmonica.jpg',
                'son'    : 'harmonica.mp3',
                'legende': "l'harmonica"
              }
            ] %}

            {% include '_colonne_d_instruments.html.twig' with {'listeInstruments': listeInstruments} only %}

            {% include '_instrument.html.twig' with {'image':'cor.jpg', 'son':'cor.mp3','legende':"le cor"} %}


            {% set listeInstruments = [
              {
                'image'  : 'bongos.jpg',
                'son'    : 'bongos.mp3',
                'legende': "les bongos"
              },
              {
                'image'  : 'fifre.jpg',
                'son'    : 'fifre.mp3',
                'legende': "le fifre"
              }
            ] %}

            {% include '_colonne_d_instruments.html.twig' with {'listeInstruments': listeInstruments} only %}


          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}


{% block pied %}
  {{ parent() }}
{% endblock %}